@{
    ViewData["Title"] = "Anket Daha Önce Çözüldü";
}

<h1>Bu Anketi Daha Önce Çözdünüz</h1>
<p>Bu anketi daha önce çözmüşsünüz. Tekrar çözemezsiniz.</p>
<a asp-action="Index" class="btn btn-danger">Anket Listesine Dön</a>
