@{
    ViewData["Title"] = "Teşekkürler";
}

<div class="text-center">
    <h1>Teşekkürler!</h1>
</div>


<div class="text-center">
    <h4>Anketi tamamladığınız için teşekkür ederiz!</h4>
    <p>Geri bildirimleriniz bizim için çok değerli. Düşüncelerinizle birlikte, hizmetlerimizi geliştirmeye devam edeceğiz.</p>

    <p>Başka bir anket veya işlem yapmak isterseniz, aşağıdaki butona tıklayarak ana sayfaya dönebilirsiniz:</p>

    <a asp-action="Index" class="btn btn-primary">Ana Sayfaya Dön</a>
</div>

<style>
    .text-center {
        text-align: center; /* Metni ortalar */
        margin: 50px 0; /* Üst ve alt boşluk */
    }

    .btn {
        margin-top: 20px; /* Butonun üstünde boşluk bırakır */
    }
</style>
